---
- name: Run Backend Container
  docker_container:
    name: simple-api
    image: manon223/tp-devops-backend:latest
    state: started
    restart_policy: always
    networks:
      - name: my_app_network
    env:
      DATABASE_URL: "jdbc:postgresql://database:5432/{{ vault_database_name }}"
      DATABASE_USERNAME: "{{ vault_database_user }}"
      DATABASE_PASSWORD: "{{ vault_database_password }}"
    pull: true