name: CI TP1 devops

on:
  push:
    branches:
      - master
      - develop
  pull_request:

#liste les taches du pipeline
jobs:
  test-backend:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Build and test with Maven
        run: mvn clean verify
        working-directory: ./backend/simpleapi


